// DRUPAL GLOBAL FIELD STYLING
.field-tags {
	display: inline-block;
	a {
		display: inline-block;
		font-size: .8rem;
		padding: 0.25rem;
		margin-top: 1rem;//quickfix
		margin-bottom: 1rem;
		border: 1px solid #ddd;
		border-radius: 4px;
		color: #ddd;
		&:hover {
			background: #000;
			color: #fff;
		}
	}
}