// FOOTER
.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #aaa;
  background: #fff;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}
// TOMATO
.site-footer:after {
  font-family: SPruit-Icons;
  content: 'T';
  line-height: 1;
  display: block;
  height: 26px;
  color: #ec1b23;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 52px;
}
@media only screen and (max-width: 480px) {
  .site-footer:after {
      padding-top: .4em;
      position: relative !important;
  }
}

// MENU INSIDE FOOTER
.site-footer .block-menu {
  overflow: hidden;
  background: #ec1b23;
}
.site-footer .block-menu a {
  color: #fff; 
}
.site-footer .block-menu .title {
  display: none;
}
.site-footer .block-menu ul {
  list-style: none;
}
.site-footer .block-menu li {
  display: inline-block;
  padding: .2em;
}
.site-footer .block-menu li a {
  display: inline-block; 
  padding: .4em 1em;
  font-size: .9em;
  text-decoration: none;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
}
.site-footer .block-menu li a:hover {
  background: #000;
  border-color: #000;
} 
.site-footer .block-menu:nth-of-type(2n) {
  background: none;
}
.site-footer .block-menu:nth-of-type(2n) a {
  border: none;
  color: #000;
  padding: 0 .14em;
  border-bottom: 2px solid #000;
}
.site-footer .block-menu:nth-of-type(2n) a:hover {
  color: #ec1b23;
  border-color: #ec1b23;
  background: none;
}


// COPYRIGHT
.site-footer .copyright {
  padding: .72em 1em;
  margin: 1em auto;
  border: 1px solid #aaa;
  color: #888;
  font-size: .8em;
  max-width: 320px;
}
