// LAYOUT
// don't put any styling in here. layout only!!!
.layout-front { //need to fix this in page.tpl.php
	display: grid;
	column-gap: 1rem;
	grid-template-columns: auto 220px;
}
//end shame

.layout-page {
}
.layout-main {
	display: grid;
	grid-template-columns: 220px auto;
	column-gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 72px; // 72px for fixed footer
}
@media screen and (min-width: 1332px){
	.layout-main {
		grid-template-columns: 220px 1112px; // 360 18 360 18 360 = 1112
		justify-content: center;
	}
}
@media screen and (min-width: 1780px){
	.layout-main {
		grid-template-columns: 220px 1490px; // 360 18 360 18 360 18 360 = 1490
	}
}
.layout-sidebar {
}
.layout-content {
}
.layout-primary-content {
}

// SIMPLE GRID
.col1 {max-width: $col1;}
.col2 {max-width: $col2;}
.col3 {max-width: $col3;}
.col4 {max-width: $col4;}