// LUNCH
.page-lunch header.content-header {
  display: none;
}
// allign tabs
.page-lunch,
.page-lunch-mutations {
  .tabs {
    text-align: center;
  }
}
//end shame

#lunch-guest-fin-form,
#lunch-shopping-form,
#lunch-form-ajax-wrapper {
  background: #fff;
  padding: 1rem;
}


// INSCHRIJVEN
#lunch-participant-form {
  background: #fff;
  padding: 1rem;
  table {
    font-size: 0.8rem;
    margin: 0 auto 1rem auto;
  }
  thead {
    background: $color1;;
    color: #fff;
    padding: 0.25rem;
  }
  td {
    padding: 0.25rem 0.5rem;
  }
  td.active-week {
    border-top: 1px solid $color1;
    border-bottom: 1px solid $color1;
  }
  td.active-day {
    color: $color1;
  }
}


// MUTATIES
// no ID or wrapper available
.page-lunch-mutations content {
  background-color: #fff;
}
.page-lunch-mutations table {
  font-size: 0.8rem;
}