// COMPONENTS
@import 'action-links';
@import 'book';
@import 'breadcrumbs';
@import 'calendar';
@import 'content';
@import 'content-images';
@import 'dashboard';
@import 'footer';
@import 'forms';
@import 'hamburger';
@import 'header';
@import 'helper-classes';
@import 'highlight';
@import 'layout';
@import 'links';
@import 'lunch';
@import 'messages';
@import 'menu';
@import 'node';
@import 'page-arie'; // personeel.sp.nl/arie
@import 'page-eform'; // zaalreservering
@import 'page-front';
@import 'page-node';
@import 'page-node-add'; // ?
@import 'page-taxonomy';
@import 'personeel-gallerij';
@import 'personeel-today';
@import 'primary-content';
@import 'search';
@import 'search-toggle';
@import 'sidebar';
@import 'site-branding';
@import 'site-navigation';
@import 'standout';
@import 'tabs';
@import 'taxonomy';
@import 'top';
@import 'user';
@import 'utility';
@import 'view'; // global styling for all views
@import 'view-calendar-vandaag';
@import 'view-findadmin-space-occupation';
@import 'view-foto-overzicht';
@import 'view-nieuws';
@import 'view-overzicht-arie';
@import 'view-personeel-users';


@import 'page--node--10178';
