// PAGER
.pager {
   display: table;
}
.pager li {
	display: table-cell;
	padding: .4em;
	font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
	text-transform: uppercase;
}
.pager li a {
	padding: .4em;
	background: #000;
	color: #fff;
}
.pager li a:hover {
	border: none;
	color: #000;
	background: #fff;
}
