// PAGE NODE
.page-node .layout-content {
	max-width: 960px; //needs tweaking
	width: 100%;
}
// EXTRA PADDING (this needs a global fix)
@media screen and (min-width: $col3){
	.not-front.page-node .node {
		padding: 0 4rem 4rem 4rem;
	}
	.not-front.page-node .content-header {
		padding: 3rem 4rem 1rem 4rem;
	}
}
.page-node .primary-content > .content {
	padding-bottom: 1rem;
}
// end shame


// ALIGN TABS FOR PAGE NODES
.page-node .primary-content > .tabs {
	float: right;
}


