// VIEW PERSONEEL ZOEKEN
.view-personeel-zoeken {
	//max-width: $container;
	.view-filters {
		margin-bottom: 1rem;
	}
	.views-exposed-form .views-exposed-widget {
		padding: 0 1rem 0 0; //should be fixed default?
	}
	> .view-content {
		display: grid;
		grid-template-columns: 360px 360px 360px;
		gap: 1rem;
		justify-items: stretch;
		background: none!important; //remove default style
		.persoon {
			.personeel-card {
				background: #fff;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				.personeel-image img{
					width: 150px;
					height: 150px;
					max-width: 150px; //quickfix .content img
				}
				.personeel-info { //custom data field as wrapper
					vertical-align: top;
					padding: 0.5rem;
					font-size: 0.8rem;
					h2 {
						font-family: $font-primary;
						font-size: 1rem;
						text-transform: uppercase;
						margin-bottom: 0;
					}
				}
			}
			.personeel-agenda {
				background: #fff;
				.afspraak {
					border-top: 1px solid #ddd;
					font-size: 0.8rem;
					padding: 2px 4px;
				}
			}
		}
	}
}
@media screen and (min-width: 1780px) {
	.view-personeel-zoeken > .view-content {
		grid-template-columns: 360px 360px 360px 360px;
	}
}
// EXPOSED FORM AS BLOCK
#views-exposed-form-personeel-zoeken-page {
	padding: 1rem;
	input {
		width: 100%; // prevent overflow
	}
	.views-exposed-widgets { // quickfix to make widgets inline
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		.views-exposed-widget {
			padding: 0; // remove padding from module
		}
	}
	.form-submit { // replace 'S' with search icon
		font-family: "SPruit-icons";
	    font-size: 1.125rem;
    	padding: 6px 8px;
    	margin-top: 1.375rem;
	}
}