// VIEW-TAXONOMY-TERM
.view-taxonomy-term {
	background: #fff;
	padding: 2rem 3rem;
	h1.title {
		border-bottom: 2px solid #ddd;
		padding-bottom: .25rem;
	}
	.node {
		//padding: 0;
		margin-bottom: 1rem;
	}
}