// VIEW PERSONEEL LIJST
.view-personeel-lijst .view-header {
	text-align: center;
}

// EXPOSED WIDGET
.view-personeel-lijst .views-exposed-widgets {
	display: flex;
}
.view-personeel-lijst .views-exposed-form .views-exposed-widget {
	padding: 0;
	float: none;
	.form-submit {
		margin-top: 0;
		font-family: "SPruit-icons";
    	font-size: 1.125rem;
    	padding: 6px 8px;
    	margin-top: 0;
	}
}