// VIEW PERSONEEL ZOEKEN
.view-personeel-zoeken {
	max-width: $container;

	.view-content {
		background: none!important; //remove default style
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		.views-row {
			width: 100%;
			max-width: 340px;
		}
	}

	.view-header {
		text-align: center;
	}
	.view-filters {
		margin-bottom: 1rem;
	}
	.views-exposed-form .views-exposed-widget {
		padding: 0 1rem 0 0; //should be fixed default?
	}
	.personeel-card {
		background: #fff;
		margin-bottom: 1rem;
		margin-right: 1rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.personeel-info { //custom data field as wrapper
		vertical-align: top;
		padding: 0.5rem;
		font-size: 0.8rem;
		h2 {
			font-size: 1rem;
			margin-bottom: 0;
		}
	}

	.personeel-image img{
		width: 150px;
		height: 150px;
		max-width: 150px; //quickfix .content img
	}

}

// EXPOSED FORM AS BLOCK
#views-exposed-form-personeel-zoeken-page {
	padding: 1rem;
	input {
		width: 100%; // prevent overflow
	}
	label {
		display: none; //quickfix
	}
	.views-exposed-widgets { // quickfix to make widgets inline
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		.views-exposed-widget {
			padding: 0; // remove padding from module
		}
	}
	.form-submit { // replace 'S' with search icon
		font-family: "SPruit-icons";
	    font-size: 1.125rem;
    	padding: 6px 8px;
    	margin-top: 0; // remove margin from module
	}
}