// VIEW PERSONEEL TEAMS
.view-personeel-zoeken-per-teams {
	table {
		width: 100%;
	}
	th {
		background: #c6d0d9;
	}
	.view-content {
		background: none;
	}
	.views-table {
		margin-bottom: 2rem;
	}
	caption {
		text-align: left;
		font-size: 1rem;
		margin-bottom: 1rem;
	}
}