// VIEW NIEUWS
.view-nieuws .view-content {
	background: none; //remove default white background
}
//end shame

.view-nieuws .field-afbeelding {
	margin-bottom: 0.5rem;
}
.view-nieuws .nieuws-item {
	padding: 2rem 3rem;
	margin-bottom: 1rem;
	background: #fff;
	box-shadow: $box-shadow;
}

// STICKY (could be better)
// drupal translates 'sticky'....
.view-nieuws .bovenaan h2:after {
	content: "p";
	text-transform: none; //remove uppercase
	margin-left: .5rem;
	font-family: $sp-icons;
	color: $color1;
}
