// VIEW NIEUWS
.view-nieuws .view-content {
	background: none; //remove default white background
	ul {
		overflow: hidden; //prevent list-style overflow with floating image
	}
}
//end shame


// NIEUWS ITEM
.view-nieuws .field-afbeelding {
	margin-bottom: 0.5rem;
	float: left;
	margin-right: 1rem;
	max-width: 200px;
}
.view-nieuws .nieuws-item {
	padding: 2rem 3rem;
	background: #fff;
	box-shadow: $box-shadow;
}


// NIEUWS OVERZICHT
.view-nieuws-overzicht {
	.view-content {
		display: grid;
		grid-template-columns: auto;
		row-gap: 1rem;
		.nieuws-item {
			padding: 1rem;
			position: relative; //parent need relative for absolute more link
			h2 {
				font-size: 1.2rem;
				margin-bottom: 0.5rem;
			}
			.field-afbeelding {
				margin-bottom: 0;
			}
			//more link with absolute
			.nieuws-body {
				padding-bottom: 1rem;
				.views-more-link {
					position: absolute;
					bottom: 1rem;
					right: 1rem;
				}
			}
		}
	}
}


// STICKY (could be better)
// drupal translates 'sticky'....
.view-nieuws .bovenaan h2:after {
	content: "p";
	text-transform: none; //remove uppercase
	margin-left: .5rem;
	font-family: $sp-icons;
	color: $color1;
}