// VIEW CALENDAR
.view-calender .calendar-calendar {
  overflow: auto;
}
// end shame

.view-calendar {
  overflow-x: scroll;
  max-width: $container;
}

// VIEW HEADER
.view-calender .view-header {
  margin: 0 auto;
}
// TOP PAGER
.view-id-personeel_calendar .date-nav-wrapper .date-nav {
  margin: 0;
  padding: 0;
}

// VIEW CALENDAR
.view-calendar td {
  text-align: left;
}
.view-calendar .date-heading h3 {
  text-align: left;
  font-size: 1.4em;
}

// DAYS
.view-calendar .month-view .days {
  background: #aaa;
  color: #fff;
}

// ENTRY
.view-calendar .month-view .entry {
  font-family: Arial,Helvetica,'Sans serif';
  font-size: 11px;
  padding: .4em;
  margin: 0 0 .21em 0;
  color: rgba(2,2,2,.72);
}

.view-calendar .month-view .entry .field-cal-item-name {
  color: #000;
  font-weight: normal;
  display: inline-block;
}
.view-calendar .month-view .entry .field-event-type {
  display: inline-block;
  color: rgba(1,1,1,.5);
}
.view-calendar .month-view .entry .field-cal-item-date {
  text-align: right;
  display: inline;
  font-weight: normal;
}
.view-calendar .month-view .entry .date-display-single {
  font-weight: normal;
}
.view-calendar .month-view .entry .edit-link { 
  display: none; 
}
.view-calendar .month-view .entry .field-author-name {
  display: none;
}

.view-calendar .month-view .entry:hover {
  background: #fafafa;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 .4em rgba(2,2,2,.5);
}
.view-calendar .month-view .entry:hover .edit-link { 
  display: inline-block;
  font-weight: normal; 
}
.view-calendar .month-view .entry:hover .field-author-name {
  display: inline-block;
  font-style: italic;
  color: #888;
}
.view-calendar .entry:hover {
  background: #fafafa;
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  box-shadow: 0 0 1em rgba(2,2,2,.2);
}




// ADD EVENT
.view-calendar .month-view .full td.date-box:hover .add-event {
  display: block;
}
.view-calendar .date-box .add-event {
  display: none;
  position: absolute;
  text-align: center;
  color: #fff;  
}
.view-calendar .date-box .add-event a {
  display: inline-block;
  padding: .4em .4em;
  line-height: 1;
  color: #fff;
  font-family: "SPnet-icons";
  font-size: .8em;
  background: #aaa;
  border-radius: 2em;
  text-decoration: none;
  border: none;
}
.view-calendar .date-box .add-event a:hover {
  display: inline-block;
  padding: .4em .4em;
  line-height: 1;
  color: #fff;
  font-family: "SPnet-icons";
  background: #000;
  border-radius: 2em;
}
.view-calendar .date-box .day:hover .add-event {
  display: block;
}


// DAYS
.view-calendar .month-view .days {
  background-color: #eee;
  border-color: #ccc;
  color: #ccc;
  font-weight: normal;
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
}


// ?
.view-calendar .month-view .full tr td.multi-day.starts-today,
.view-calendar .month-view .full tr td.multi-day.ends-today,
.view-calendar .month-view .full tr td.today {
  border-color: rgb(253,120,110) !important;
}


// TODAY
.view-calendar .date-box.today .day {
  background-color: rgb(253,90,90);
  color: #fff;
  margin-top: -1px;
  margin-right: -2px;
  padding: 2px;
}

// DAY
.view-calendar .date-box .day {
  background: none;
  border: none;
  font-family: HelveticaNeueLTStd-BdCn, 'Sans serif';
  color: #999;
}


// COLOR WEEKEND
.view-calendar td[headers="zaterdag"],
.view-calendar td[headers="zondag"] {
  background: #fafafa;
}

// DAGINDELING
.view-calendar .single-day .dagindeling {
  background: none;
  box-shadow: none;
  border-top: 1px dashed #ddd; 
  border-bottom: 1px dashed #ddd; 
  color: #aaa;
  text-align: center;
  font-size: .7em;
}

.view-calendar .dagindeling .field-event-type,
.view-calendar .dagindeling:hover .field-event-type {
  display: none !important;
}

.view-calendar .dagindeling .date-display-single,
.view-calendar .dagindeling .field-ruimte,
.view-calendar .dagindeling .field-hulpbron {
  display: none;
}

.view-calendar .dagindeling:hover .date-display-single,
.view-calendar .dagindeling:hover .field-ruimte,
.view-calendar .dagindeling:hover .field-hulpbron {
  display: block;
}

// CLEAN UP PAST INFO ??
.view-calendar .field-ruimte,
.view-calendar .field-hulpbron {
  background: #fff;
  padding: .71em; 
  margin: .4em 0;
}
.view-calendar .past .field-ruimte,
.view-calendar .past .field-hulpbron,
.view-calendar .past .date-display-single, 
.view-calendar .past .field-time {
  display: none;
}


// EVENT TYPE COLORS
.view-calendar .congres { background: rgb(253,120,110); }    
.view-calendar .vergadering { background: rgb(254,224,80); }
.view-calendar .verlof,
.view-calendar .tijd-voor-tijd { background: rgb(254, 190, 160); }
.view-calendar .single-day .verlof { background: rgb(252, 200, 186); }
.view-calendar .ziek { background: rgb(212, 190, 156); }
.view-calendar .roostervrij { background: rgb(223,220,210); }
.view-calendar .werkt-thuis { background: rgb(210,240,210); }
.view-calendar .scholing { background: rgb(210,230,254); }
.view-calendar .buiten-de-deur { background: rgb(190,190,192); }
.view-calendar .actie { background: rgb(236, 84, 43); }
.view-calendar .bereikbaarheidsdienst-webteam { background: rgb(224, 205, 205); }
.view-calendar .partij { background: rgb(236, 120, 120); }
.view-calendar .aanwezigheidsmelding-corona { background: #eee; }


// ?
.view-calendar .month-view .full td.single-day .calendar-empty .day, 
.view-calendar .month-view .full td.single-day.empty .day, 
.view-calendar .month-view .full td.date-box.empty .day {
	visibility: hidden;
}

// VIEW FILTERS
.view-calendar .view-filters {
  margin: 0 auto;
  background: none;
}
.view-calendar .view-filters form {
  margin: 0;
  padding: 0;
}
.view-calendar .view-filters .description {
  display: none;
}


// VIEW PERSONEEL TODAY
.view-id-personeel_today ul {
	padding: 0;
	margin: 0 0 1rem;
}
.view-id-personeel_today li  {
	display: block;
	padding: .5rem;
	border-bottom: 2px solid #ddd;
	margin-bottom: .1rem;
}
.view-id-personeel_today li div {
	display: inline-block;
}
.view-id-personeel_today li:before {
	content: 'T';
	display: inline-block;
	font-family: SPruit-icons;
	color: #ec1b23;
	font-size: 1rem;
	margin-right: .5rem;
}


// VIEW CALENDAR TODAY
.view-calendar-today .view-content {
  max-width: 72vw;
  margin: auto;
  background: #f1f1f1;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.view-calendar-today .views-row {
  background: #fff;
  margin: 1rem;
  padding: 1em;
}


