// CALENDAR VANDAAG
.view-calendar-vandaag .date-nav-wrapper {
	display: none;
}
.view-calendar-vandaag .views-row-last {
	margin-bottom: 1rem;
}
// end shame

.view-calendar-vandaag {
	padding: 1rem;
	background: #fff;
}
.view-calendar-vandaag .views-row {
	font-size: .75rem;
}
.view-calendar-vandaag .field-ruimte {
	color: #888;
	padding-left: .25rem;
	font-style: italic;
}