// CALENDAR VANDAAG
.view-calendar-vandaag .views-row-last {
	margin-bottom: 1rem;
}
.view-calendar-vandaag .pager {
	padding-left: 0;
	margin-bottom: 0;
	.date-prev {
		right: 0;
	}
}
.view-calendar-vandaag .view .date-nav-wrapper .date-heading h3 {
	font-size: 1rem; 
}
// end shame...what a mess ;(

.view-calendar-vandaag {
	h3 {
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}
}
.view-calendar-vandaag .view-header,
.view-calendar-vandaag .view-content {
	padding: 1rem;
	background: #fff;
	box-shadow: $box-shadow;
}
.view-calendar-vandaag .views-row {
	font-size: .75rem;
}
.view-calendar-vandaag .field-ruimte {
	color: #888;
	padding-left: .25rem;
	font-style: italic;
}