// VIEW PERSONEEL AFDELING
.view-personeel-zoeken-per-afdeling {
	.view-filters {
		margin-bottom: 1rem;
	}
	.views-exposed-form .views-exposed-widget {
		padding: 0 1rem 0 0; //should be fixed default?
	}
	> .view-content {
		display: grid;
		grid-template-columns: 320px;
		gap: 2px;
		justify-items: stretch;
		background: none!important; //remove default style
		> h3 {
			background: #fff;
			margin-bottom: 0;
			padding: 1rem;
			color: $color1;
			font-size: 1.5rem;
			display: flex;
			> div {
				margin-right: 1rem;
			}
		}
		> h3:not(:first-of-type){
			margin-top: 3rem;
		}
		.views-row{
			background: #fff;
		}
		.persoon {
			position: relative;
			//edit link
			.edit a {
				position: absolute;
				background: #fff;
				top: 0;
				right: 0;
				font-size: 0.8rem;
				padding: 0 2px;
				text-align: center;
				&:hover {
					background: $color1;
					color: #fff;
					text-decoration: none;
					border-bottom: none;
				}
			}
			.werkplek {
				font-size: 0.8rem;
				position: absolute;
				bottom: 4px;
				right: 4px;
			}
			.personeel-card {
				background: #fff;
				display: grid;
				grid-template-rows: auto auto;
				grid-template-columns: 320px;
				.personeel-info { //custom data field as wrapper
					vertical-align: top;
					padding: 0.5rem;
					font-size: 0.8rem;
					h2 {
						font-family: $font-primary;
						font-size: 1rem;
						text-transform: uppercase;
						margin-bottom: 0;
					}
				}
			}
			.personeel-agenda {
				background: #fff;
				.afspraak {
					border-top: 1px solid #ddd;
					font-size: 0.8rem;
					padding: 2px 4px;
				}
			}
		}
	}
}
// this needs to be better...
@media screen and (min-width: 892px) {
	.view-personeel-zoeken-per-afdeling > .view-content {
		grid-template-columns: 320px 320px;
		> h3 {
			grid-column: 1/3;
		}
	}
}
@media screen and (min-width: 1228px) {
	.view-personeel-zoeken-per-afdeling > .view-content {
		grid-template-columns: 320px 320px 320px;
		> h3 {
			grid-column: 1/4;
		}
	}
}
/*
@media screen and (min-width: 1780px) {
	.view-personeel-zoeken-per-afdeling > .view-content {
		grid-template-columns: 360px 360px 360px 360px;
	}
}
*/
// EXPOSED FORM AS BLOCK
#views-exposed-form-personeel-zoeken-page {
	padding: 1rem;
	input {
		width: 100%; // prevent overflow
	}
	.views-exposed-widgets { // quickfix to make widgets inline
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		.views-exposed-widget {
			padding: 0; // remove padding from module
		}
	}
	.form-submit { // replace 'S' with search icon
		font-family: "SPruit-icons";
	    font-size: 1.125rem;
    	padding: 6px 8px;
    	margin-top: 1.375rem;
	}
}