// VIEW PERSONEEL TEAMS
.view-personeel-zoeken-per-teams {
	table {
		width: 100%;
		th {
			background: #d9e0ec;
		}
	}
	.view-content {
		background: none;
	}
	.views-table {
		margin-bottom: 2rem;
	}
	caption {
		text-align: left;
		font-size: 1rem;
		margin-bottom: 1rem;
	}
}